html {
    box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: inherit;  
}

main {
    box-sizing: content-box;
}


@font-face {
    src: url(assets/Raleway-VariableFont_wght);
    font-family: Raleway;
}

h1{
    font-family:Raleway;
    color: blue;

}


.logo1{
    width: 200px;
    height: 100px; 
    padding: 5px;
    margin: auto;
    box-sizing: border-box;

}