html {
    box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: inherit;  
}

main {
    box-sizing: content-box;
}


@font-face {
    src: url(assets/Raleway-VariableFont_wght);
    font-family: Raleway;
}

h1{
    font-family:Raleway;
    color: blue;

}


.div1 {
width: 300px;
height: 100px;
border: 1px solid blue;
margin: 5px;
box-sizing: border-box;
}

.div2 {
    width: 300px;
    height:100px;
    padding: 50px;
    border: 1px solid blueviolet;
    margin: 5px;
    box-sizing: border-box; 
}